{% extends 'MyPrzepisBundle::layout.html.twig' %}
{% block content %}

	<form id="search" action="{{ path('test') }}" method="get" {{ form_enctype(form) }}>
					<label>{{ form_label(form.szukaj) }}</label>
			<div>
				{{ form_widget(form.szukaj) }}
                {{ form_rest(form) }}
			</div>
			<div>
				<button type="submit" class="icons">&#x24;</button>
			</div>
		</form>
	</div>
	<script>
	$(document).ready(function(){
		$('#search select').select2({
			placeholder: "Wybierz składniki",
			allowClear: true
		});
	})
	</script>
{% endblock %}