<h1>Lista</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nazwa</th>
            <td>{{ entity.nazwa }}</td>
        </tr>
        <tr>
            <th>przepisy</th>
            {% for przepis in entity.przepisy %}
                <td>{{ przepis.przepis.nazwa }}</td>
                {% for skladniki in przepis.przepis.sp %}
                    <td>{{ skladniki.skladnik.nazwa }}</td>
                {% endfor %}
            {% endfor %}
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('lista') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('lista_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('lista_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
