{% extends 'MyPrzepisBundle::layout.html.twig' %}
{% block content %}

    {% for entity in entities %}
        <a href="{{ path('przepis_show', { 'slug': entity.slug }) }}"id="brick">
            {% for img in entity.image %}
                {% if loop.first %}
                    <img src="{{ asset('images/') }}{{ img.path }}" alt=""></img>
                {% endif %}
            {% endfor %}
            <p>{{entity.nazwa}}</p>
            <span>skladniki: 
                {% for skl in entity.sp %}
                    {{ skl.skladnik.nazwa }}
                {% endfor %}
            </span>
        </a>
    {% endfor %}

{% endblock %}
