{% extends 'MyPrzepisBundle::layout.html.twig' %}
{% block content %}


<h1>Przepis list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Actions</th>
            <th>image</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('przepis_show', { 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nazwa }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('przepis_show', { 'slug': entity.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('przepis_edit', { 'slug': entity.slug }) }}">edit</a>
                    </li>
                </ul>
            </td>
            <td>

                {% for img in entity.image %}
                <img src="{{ asset('images/') }}{{ img.path}}" alt="" width="100px">
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('przepis_new') }}">
            Create a new entry
        </a>
    </li>
</ul>

{% endblock %}
