{% extends 'MyPrzepisBundle::layout.html.twig' %}
{% block title %}Dodaj przepis{% endblock %}
{% block content %}

        <form id="add_recipe" action="{{ path('przepis_create') }}" method="post" {{ form_enctype(form) }}>
                <label id="nazwa">{{ form_label(form.nazwa) }}: {{ form_widget(form.nazwa) }}</label>
                <div id="skladniki" class="add_new_brick" data-prototype="
                &lt;div class=&quot;form_add_brick&quot;&gt;
                        &lt;div class=&quot;iconremove&quot;&gt;usun&lt;/div&gt;
                        &lt;label for=&quot;skladnik&quot; class=&quot;skladnik&quot;&gt;Wybierz skladnik:

                            {{ form_widget(form.sp.vars.prototype.skladnik)|e }}

                        &lt;/label&gt;
                        &lt;label for=&quot;ilosc&quot; class=&quot;ilosc&quot;&gt;Podaj ilość
                            {{ form_widget(form.sp.vars.prototype.ilosc)|e }}

                        &lt;/label&gt;
                        &lt;/div&gt;
                
                    ">
                    {{ form_label(form.sp) }}
                    {{ form_widget(form.sp) }}
                    <a class="form_new_field"href="#">&#x58;</a>
                </div>
                    <div id="kroki" class="add_new_brick" data-prototype="
                        &lt;div class=&quot;form_add_brick&quot;&gt;&lt;div class=&quot;iconremove&quot;&gt;usun&lt;/div&gt;&lt;label for=&quot;&quot; class=&quot;opis&quot;&gt;krok

                            {{ form_widget(form.krok.vars.prototype.opis)|e }}
                        
                        &lt;/label&gt;
                        &lt;label for=&quot;&quot; class=&quot;czas&quot;&gt;czas:

                            {{ form_widget(form.krok.vars.prototype.czas)|e }}

                        &lt;/label&gt;&lt;/div&gt;

                    ">
                    {{ form_label(form.krok) }}
                    {{ form_widget(form.krok) }}

                    <a class="form_new_field"href="#">&#x49;</a>
                    </div>
                    <div id="zdjecia" class="add_new_brick"data-prototype="
                        
                        {{ form_widget(form.image.vars.prototype.name)|e }}
                        {{ form_widget(form.image.vars.prototype.file)|e }}

                    ">

                        {{ form_label(form.image) }}
                        {{ form_widget(form.image) }}

                    <a class="form_new_field"href="#">&#x65;</a>
                    </div>

                {{ form_widget(form) }}
                {{ form_rest(form) }}
                <button type="submit"class="iconcheckmark">Zapisz</button>
                
            </form>
        </form>
    </div>
    <script>
        $(document).ready(function(){
            var click = 0;
            $(".add_new_brick a").on("click", function(e){
                e.preventDefault();
                var holder=$(this).parent();
                var prototype=holder.attr("data-prototype");
                prototype = prototype.replace(/__name__/g, click++);
                $(this).before(prototype);
                $('.skladnik select, .miara select').select2();
                
                $(".add_new_brick .iconremove").on("click", function(e){
                    e.preventDefault();
                    var holder=$(this).parent();
                    holder.remove();
                });
            });

            
        });
    </script>
{% endblock %}